doctype html
html
    head
        title= title
        link(href='/stylesheets/style.css' type='text/css' rel='stylesheet')


    body
        h1= title
        img(src="/images/maim/cheshireCat.jpg")
        br
        a(href="/comics/view_all/")=linkOne
        br
        a(href="/genre/")=linkTwo
        br
        
        //- a(href="/specific/2814/")=linkThree
        //- br
          
      
          
          

  
