/*#view_all*/

body {
  background-color: #b3b3ff;
  font-family: monospace;
  margin: auto;
  text-align: center;
}



h1 {
  color: #293d3d;
  font-size: 100px;
  margin: auto;
  text-align: center;
}

h2 {
  color: #5353c6;
  font-size: 30px;
  margin: 50px 100px 100px 100px;
}

h3 {
  color: #ff4d94;
  font-size: 35px;
  margin: 50px 100px 100px 100px;
}
h4 {
  color: #293d3d;
  font-size: 35px;
  margin: 10px 550px 1px 10px;
}

a {
  font-size: 20px;
  color: #2d5986;
  margin: auto;
  text-align: center;
  padding-left: auto;
}

img {
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;

}

.input-group{
  text-align: center;
}

p{
  color: #800080;
  font-size: 40px;
}


