doctype html
html
    head
        title= title
        link(href='/stylesheets/style_music.css' type='text/css' rel='stylesheet')
    body
        h3 Your search result:
        h1= title
        input(type='search')
        //a(href="/search/artists/" + artist.name)= artist.name

