doctype html
html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
        link(href='/stylesheets/style_music.css' type='text/css' rel='stylesheet')
    body
        h1= title
        .input-group.mb-2
            .input-group-prepend
                button#inputGroup-sizing-default.input-group-text search
            input.form-control(type='button' aria-label='search' aria-describedby='inputGroup-sizing-default')
        form(method='POST' action='/search/artists')
        h3 Your search result:
        a(href="/search/artists/"+ artist.name)=search

